#game {
  width: 800px;
  height: 600px;
  border: 2px solid;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#game .sky {
  width: 1600px;
  height: 600px;
  background: url('./img/sky.png');
  position: absolute;
  left: 0;
  top: 0;
}

#game .land {
  width: 1600px;
  height: 112px;
  background: url('./img/land.png');
  position: absolute;
  left: 0;
  bottom: 0;
}

#game .bird {
  width: 33px;
  height: 26px;
  background: url('./img/bird.png');
  position: absolute;
  left: 200px;
  top: 150px;
  z-index: 1;
  background-position: -8px -10px;
}

#game .pipeup {
  background: url("img/pipeDown.png") no-repeat left bottom;
  width: 52px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
}

#game .pipedown {
  background: url("img/pipeUp.png") no-repeat;
  width: 52px;
  height: 200px;
  position: absolute;
  bottom: 112px;
  right: 0;
}

.msg {
  text-align: center;
}