/* Main rules */

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Regular'),
		local('Poppins-Regular'),
		url(../fonts/poppins.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
	user-select: none;
	font-family: 'Poppins';
}

a {
	color: #fff;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: 400;
	overflow: hidden;
}

body > p {
	display: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.clearfix {
	clear: both;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

.hr {
	border-top: 1px solid #ccc;
	padding-top: 5px;
	margin-top: 5px;
	clear: both;
	height: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

img.avatar {
	float: right;
	margin-left: 10px;
}

p {
	margin-top: 0;
}

input[type=range] {
    -webkit-appearance: none;
    width: 96%;
    padding: 20px 0;
    margin: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 96%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #908c68;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 96%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #908c68;
}

input[type=range]:-moz-focusring{
    outline: 1px solid #fff;
    outline-offset: -1px;
}

input[type=number].small,
input[type=password].small,
input[type=text].small {
	width: 50px;
}

input[type=text],
input[type=number],
select {
	border: 1px solid #908c68;
	background: #fff;
	color: #000;
	padding: 2px 6px;
	font-size: 12px;
}

p.title,
p span.title {
	font-size: 14px;
}

p.description,
p span.description {
	font-size: 10px;
}

dl.nomg {
	margin: 0 !important;
}

td.icon {
	width: 60px;
}

/* Header */

.ui > header {
	background: transparent url(../images/ui/resource-panel.png) repeat-x;
	width: 100%;
	height: 48px;
	left: 0;
	z-index: 9999;
	top: 0;
	position: fixed;
}

.ui > header .cityavatar {
	width: 16px;
	height: 16px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 20px;
	display: inline-block;
	cursor: pointer;
}

.ui > header .cityname {
	text-align: center;
	text-transform: uppercase;
}

.ui > header .citylevel {
	text-align: center;
}

.ui > header .resource-panel {
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px 0 10px 40px;
}

.ui > header .top-panel {
	width: 30%;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 40px 10px 0;
	color: #bbb;
	font-size: 16px;
	text-align: right;
}

.ui > header .resource-panel span {
	height: 24px;
	width: 24px;
	display: inline-block;
	vertical-align: middle;
	line-height: 24px;
	text-align: center;
	margin-right: 4px;
	cursor: pointer;
}

/* Footer */

.ui > footer {
	background: transparent url(../images/ui/resource-panel.png) repeat-x;
	width: 400px;
	height: 50px;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}

.ui > footer > a {
	width: 40px;
	height: 40px;
	margin: 5px;
	cursor: pointer;
	float: left;
}

/* Main */

.ui {
	width: 1920px;
	height: 1080px;
	position: relative;
}

.ui .game {
	position: relative;
	z-index: 99;
	width: 1920px;
	height: 1080px;
}

.ui .game .building {
	width: 100px;
	height: 89px;
	cursor: pointer;
	position: absolute;
}

.ui .game .building.large {
	width: 140px;
	height: 125px;
}

.ui .game .building.extralarge {
	width: 300px;
	height: 270px;
}

.ui .game .building .notification {
	width: 46px;
	height: 46px;
	position: absolute;
	top: 30%;
	left: 30%;
}

.ui dd img {
	vertical-align: middle;
	margin-left: 4px;
}

.ui dt img {
	vertical-align: middle;
}

a.disabled {
	background-color: #777;
	color: #502d13;
	cursor: default;
}

/* Others */

.loading {
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: #000;
	height: 46px;
	width: 46px;
	z-index: 99999999;
}

.hidden,
.espionage-rel {
	display: none;
}

table tr td:last-child a,
.window .button.highlight,
.tabs ul li.ui-tabs-active,
.panel .toolbar .btn,
table thead td,
.modal .btn,
.window .toolbar a,
table tfoot td {
	background-color: #694224;
	border: 1px solid #694224;
	background-image: linear-gradient(to bottom, #9b6b46, #694224);
	color: #fff;
}

table tr td:last-child a:hover,
.panel .toolbar .btn:hover,
.modal .btn:hover,
.window .toolbar a:hover,
.window .button.highlight:hover {
	background-color: #422712;
	border: 1px solid #422712;
	background-image: linear-gradient(to bottom, #694224, #422712);
	color: #fff;
}

.range-combo input[type=range],
.select-combo select {
	float: left;
	width: 60% !important;
	padding: 4px 0;
}

.range-combo input[type=text],
.select-combo input[type=number] {
	float: right;
	width: 40px;
	text-align: center;
	border: 1px solid #aaa;
	padding: 4px 0;
	background-color: #ddd;
}

.select-combo input[type=button] {
	float: right;
	border: 1px solid #aaa;
	background-color: #ddd;
	padding: 4px;
	border-left: 0;
	cursor: pointer;
}

.range-combo input[type=text].espionage-chance {
	width: 26px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: 0;
}

.range-combo input[type="text"].espionage-value {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.ui-control {
	border-radius: 3px;
	padding: 2px 10px;
	color: #000;
	font-size: 12px;
}

.ui-control.on {
	background-color: #c0f5d3;
	box-shadow: 0 0 5px #c0f5d3;
}

.ui-control.off {
	background-color: #ef705a;
	box-shadow: 0 0 5px #ef705a;
}

.github {
	position: absolute;
	top: 10px;
	right: 0;
}

span.green {
	color: #0f0;
}

span.red {
	color: #e11;
}

span.blue {
	color: #11f;
}

.scrollbar {
	position: absolute;
	right:14px;
	top: 20px;
}

.scrollbar .up,
.scrollbar .down {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.scrollbar .up {
	margin-bottom: 5px;
}
