/* Notifications */

.notifications {
	position: fixed;
	top: 50px;
	right: 10px;
	width: 340px;
	z-index: 99999;
}

.achievements-notifications {
	position: fixed;
	bottom: 70px;
	width: 340px;
	z-index: 99998;
}

.notifications .notty,
.achievements-notifications .notty,
.achievement {
	padding: 10px;
	margin-bottom: 10px;
	color: #444;
	font-size: 12px;
	background-color: #fff;
	box-shadow: 0 0 5px #ccc;
	position: relative;
	overflow: hidden;
	opacity: 0.8;
}

.achievement.has {
	border-radius: 4px;
	background-color: #c6c438;
	background-image: linear-gradient(to bottom, #f5f36b, #c6c438);
}

.achievement {
	opacity: 1;
}

.achievements-list .achievement {
	width: 350px;
	float: left;
	margin-right: 10px;
	min-height: 70px;
	max-height: 80px;
	border-radius: 4px;
}

.achievements-list .achievement:nth-child(even) {
	margin-right: 0;
}

.achievements-list {
	padding: 10px 0;
	max-height: 420px;
	overflow: auto;
}

.achievement {
	border-radius: 60px;
	background: #e5e5e5;
	background: linear-gradient(to bottom, #e5e5e5 0%,#8e8e8e 100%);
}

.achievements-notifications .notty {
	border-radius: 60px;
	background-color: #c6c438;
	background-image: linear-gradient(to bottom, #f5f36b, #c6c438);
	box-shadow: 0 0 2px #000;
}

.notifications .notty.error {
	background-color: #f5c0c0;
}

.notifications .notty.event {
	background-color: #c0c5f5;
}

.notifications .notty .hide,
.achievements-notifications .notty .hide {
	position: absolute;
	display: inline-block;
	height: 24px;
	width: 24px;
	right: 0;
	top: 0;
	padding: 0;
	cursor: pointer;
	display: none;
	margin: 6px;
}

.achievements-notifications .notty .hide {
	top: 14px;
	right: 6px;
}

.notifications .notty .right,
.achievements-notifications .notty .right,
.achievement div.right {
	width: 79%;
	height: 100%;
	float: left;
	display: block !important;
}

.notifications .notty .left,
.achievements-notifications .notty .left,
.achievement div.left {
	height: 100%;
	float: left;
	display: block !important;
}

.notifications .notty .time,
.achievement .time {
	font-size: 9px;
	position: relative;
	float: right;
}

.notifications .notty .right .time,
.achievement .right .time {
	margin-right: 10px;
}

.notifications .notty .left,
.achievements-notifications .notty .left,
.achievement .left {
	width: 20%;
}

.notifications .notty .right .inner,
.achievements-notifications .notty .right .inner,
.achievement .right .inner {
	padding-left: 10px;
}

.notifications .notty .left .img:after {
	content: '';
	background: #000;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.6), transparent);
	width: 1px;
	height: 50px;
	position: absolute;
	right: -10px;
}

.notifications .notty .left .img,
.achievements-notifications .notty .left .img,
.achievement .left .img {
	width: 46px;
	background-size: auto 100%;
	height: 46px;
	position: relative;
}

.achievement .left .img {
	margin: 0 auto;
}

.achievement .left .points {
	font-size: 14px;
	text-align: center;
}

.notifications .notty:after,
.achievements-notifications .notty:after,
.achievement:after {
	content: "."; 
	visibility: hidden; 
	display: block; 
	clear: both; 
	height: 0; 
	font-size: 0;
}

.notifications .notty h2,
.achievements-notifications .notty h2,
.achievement h2 {
	margin: 0 0 5px 0;
	font-size: 14px;
	color: #444;
	text-transform: uppercase;
}
