/* Tipsy */

.tipsy {
	font-size: 12px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
}

.tipsy-inner {
	background-color: #fff;
	color: #000;
	max-width: 280px;
	padding: 10px;
	text-align: left;
}

.tipsy-inner {
	border-radius: 3px;
}

.tipsy-inner {
	box-shadow: 0 0 5px #ccc;
}

.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #fff;
}

.tipsy-arrow-n {
	border-bottom-color: #fff;
}

.tipsy-arrow-s {
	border-top-color: #fff;
}

.tipsy-arrow-e {
	border-left-color: #fff;
}

.tipsy-arrow-w {
	border-right-color: #fff;
}

.tipsy-n .tipsy-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy.item .tipsy-inner {
	background-color: #111;
	opacity: 0.98;
	color: #fff;
}

.tipsy.item .tipsy-arrow {
	border: 5px dashed #222;
}

.tipsy.item .tipsy-arrow-n {
	border-bottom-color: #222;
}

.tipsy.item .tipsy-arrow-s {
	border-top-color: #222;
}

.tipsy.item .tipsy-arrow-e {
	border-left-color: #222;
}

.tipsy.item .tipsy-arrow-w {
	border-right-color: #222;
}

.tipsy.item h4 {
	font-size: 14px;
	padding: 0;
	margin: 0 0 10px 0;
}

.tipsy.item span.flavour {
	font-style: italic;
	color: #FFD200;
}
